amqp==2.1.4
args==0.1.0
billiard==3.5.0.2
celery==4.0.2
clint==0.5.1
Django==2.2.24
django-jinja==2.2.1
django-webpack-loader==0.4.1
future==0.15.2
Jinja2==2.8
jsonfield==1.0.3
kombu==4.0.2
MarkupSafe==0.23
OpenpayGrvty==0.4.7
pkginfo==1.4.1
pytz==2016.10
redis==2.10.5
requests==2.12.4
requests-toolbelt==0.7.0
twine==1.8.1
vine==1.1.3
